---
import NewsGridItemBlock from "~components/NewsGridItemBlock/NewsGridItemBlock.astro";
import HTag from "~helpers/hTag.astro";
import LinkButton from "~components/LinkButton";
import { HTMLRender } from "~helpers/htmlRender";
import { getAllNews } from "~data/global";
import "./style.scss";

const { blockData, blockContext } = Astro.props;

const AllNews = await getAllNews();
let newsNodes = blockData?.newsCategory?.nodes[0].contentNodes.nodes;
if (!newsNodes || newsNodes.length === 0) {
    newsNodes = AllNews.posts.nodes;
}
---

<div class="news-trends-block">
    <div class={`news-trends-block__text`}>
        {blockData.title && <HTag type={blockData.titleType}>{blockData.title}</HTag>}
        {blockData.text && <HTMLRender data={blockData.text} />}
        {
            blockData?.button?.url && (
                <LinkButton type="secondary" size="large" url={blockData.button.url}>
                    {blockData.button.title}
                </LinkButton>
            )
        }
    </div>
    <div class="news-trends-block__news-grid">
        {newsNodes?.slice(0, blockData.numberOfPosts).map((post) => <NewsGridItemBlock headingType="h2" postData={post} />)}
    </div>
</div>
