---
import Menu from "~components/Menu";
import SocialMenu from "~components/SocialMenu";
import { HTMLRender } from "~helpers/htmlRender";
import { getFooter } from "~data/global.js";

import styles from "./style.module.scss";

const footer = await getFooter();

const themeSettings = footer.themeGeneralSettings.themeSettings;
const contactDetails = footer.acfOptionsContactDetails.contactDetails;
const title = footer.generalSettings.title;
---

<footer class={`${styles.footer}`}>
    <div class="container">
        <div class={`${styles.footerItems}`}>
            <div class={`footerColumn`}>
                {themeSettings?.socialMedia && <SocialMenu socialData={themeSettings?.socialMedia} className="social-media-menu__footer" />}
                {
                    contactDetails?.address && (
                        <address>
                            <HTMLRender data={contactDetails?.address} />
                        </address>
                    )
                }
                {
                    contactDetails?.emailAddresses && (
                        <a href={`mailto:${contactDetails?.emailAddresses[0]?.email}`} class={`${styles.contactLink}`}>
                            {contactDetails?.emailAddresses[0]?.email}
                        </a>
                    )
                }
                {
                    contactDetails?.telephoneNumbers && (
                        <a href={`tel:${contactDetails?.telephoneNumbers[0]?.number}`} class={`${styles.contactLink}`}>
                            {contactDetails?.telephoneNumbers[0]?.number}
                        </a>
                    )
                }
            </div>
            <div class={`footerColumn`}></div>
            <div class={`footerColumn`}></div>
            <div class={`footerColumn`}></div>
        </div>
        <div class={`footerBottom`}>
            <div class={`${styles.copyrightSection}`}>
                <p class={`${styles.copyright}`}>
                    © {title}
                    {new Date().getFullYear()} | Site Developed By <a href="https://mosaicdigitalmedia.co.uk/">Mosaic Digital Media</a>
                </p>
                <Menu className={`${styles.footerMenu}`} menuData={footer.menuItems} />
            </div>
        </div>
    </div>
</footer>
