---
import Menu from "~components/Menu";
import SocialMenu from "~components/SocialMenu";
import { HTMLRender } from "~helpers/htmlRender";
import { getFooter } from "~data/global.js";

import "./style.scss";

const footer = await getFooter();

const themeSettings = footer.themeGeneralSettings.themeSettings;
const contactDetails = footer.siteContactDetails.businessContactDetails;
const title = footer.generalSettings.title;
---

<footer class="footer">
    <div class="container">
        <div class="footerItems">
            <div class="footerColumn">
                {themeSettings?.socialMedia && <SocialMenu socialData={themeSettings?.socialMedia} className="social-media-menu__footer" />}
                {
                    contactDetails?.address && (
                        <address>
                            <HTMLRender data={contactDetails?.address} />
                        </address>
                    )
                }
                {
                    contactDetails?.emailAddresses && (
                        <a href={`mailto:${contactDetails?.emailAddresses[0]?.email}`} class="contactLink">
                            {contactDetails?.emailAddresses[0]?.email}
                        </a>
                    )
                }
                {
                    contactDetails?.telephoneNumbers && (
                        <a href={`tel:${contactDetails?.telephoneNumbers[0]?.number}`} class="contactLink">
                            {contactDetails?.telephoneNumbers[0]?.number}
                        </a>
                    )
                }
            </div>
            <div class="footerColumn"></div>
            <div class="footerColumn"></div>
            <div class="footerColumn"></div>
        </div>
        <div class="footerBottom">
            <div class="copyrightSection">
                <p class="copyright">
                    © {title}
                    {new Date().getFullYear()} | Site Developed By <a href="https://mosaicdigitalmedia.co.uk/">Mosaic Digital Media</a>
                </p>
                <Menu className="footerMenu" menuData={footer.menuItems} />
            </div>
        </div>
    </div>
</footer>
