---
import { getSeo } from "~data/seo";

const globalSeo = await getSeo();

const { seoData } = Astro.props;

const siteUrl = import.meta.env.PUBLIC_SITE_URL;

const canonicalUrl = seoData.canonical && seoData.canonical !== "/" && seoData.canonical !== "" ? new URL(`${seoData?.canonical}`) : "";
const opengraphUrl = new URL(`${seoData?.opengraphUrl}`);

// assign data from yoast to varibles
const metaTitle = seoData?.title;
const metaDescription = seoData?.metaDesc;
const metaKeywords = seoData?.metaKeywords;
const schema = seoData?.schema.raw;
const titleOutput = metaTitle ? metaTitle : globalSeo.generalSettings.title;
const descriptionOutput = metaDescription ? metaDescription : globalSeo.generalSettings.description;
const canonical = seoData.canonical && seoData.canonical !== "/" && seoData.canonical !== "" ? siteUrl + canonicalUrl.pathname : siteUrl + "/";

//opengraph data
const openGraphTitle = seoData?.opengraphTitle;
const openGraphDescription = seoData?.opengraphDescription;
const openGraphAuthor = seoData?.opengraphAuthor;
const openGraphImage = seoData?.opengraphImage?.localFile?.url;
const openGraphType = seoData?.opengraphType;
const openGraphUrl = `${siteUrl}${opengraphUrl.pathname}`;
const openGraphSiteName = seoData?.opengraphSiteName;

//twitter data
const twitterTitle = seoData?.twitterTitle;
const twitterDescription = seoData?.twitterDescription;
const twitterImage = seoData?.twitterImage?.localFile?.url;

//Follow and index settings
const noFollow = seoData?.metaRobotsNofollow;
const noIndex = seoData?.metaRobotsNoindex;
let metaRobots = `noFollow,noIndex`;
if (import.meta.env.PUBLIC_SEO_ACTIVE === "false") {
    metaRobots = `noFollow,noIndex`;
} else if (noFollow && noIndex) {
    metaRobots = `${noFollow},${noIndex}`;
} else if (!noFollow && noIndex) {
    metaRobots = noIndex;
} else if (noFollow && !noIndex) {
    metaRobots = noFollow;
}
---

{titleOutput && <title>{titleOutput}</title>}
{descriptionOutput && <meta name="description" content={descriptionOutput} />}
{metaKeywords && <meta name="keywords" content={metaKeywords} />}
{metaRobots && <meta name="robots" content={metaRobots} />}
{canonical && <link rel="canonical" href={canonical} />}
{schema && <script type="application/ld+json" set:html={schema} />}
{openGraphTitle && <meta property="og:title" content={openGraphTitle} />}
{openGraphDescription && <meta property="og:description" content={openGraphDescription} />}
{openGraphAuthor && <meta property="og:author" content={openGraphAuthor} />}
{openGraphImage && <meta property="og:image" content={openGraphImage} />}
{openGraphType && <meta property="og:type" content={openGraphType} />}
{openGraphUrl && <meta property="og:url" content={openGraphUrl} />}
{openGraphSiteName && <meta property="og:site_name" content={openGraphSiteName} />}
{twitterTitle && <meta property="twitter:title" content={twitterTitle} />}
{twitterDescription && <meta property="twitter:description" content={twitterDescription} />}
{twitterImage && <meta property="twitter:image" content={twitterImage} />}
<slot />
