---
import ColumnBlock from "./ColumnBlock.astro";
import "./style.scss";
const { blockData } = Astro.props;
const columnCount = blockData.numberOfColumns;
---

<div class="multicolumn-block">
    <div class:list={[{ container: blockData.blockWidth === "contain" }, { "container-wide": blockData.blockWidth === "wide" }]}>
        {columnCount > 0 && <ColumnBlock columnData={blockData.columnOne} />}
        {columnCount > 1 && <ColumnBlock columnData={blockData.columnTwo} />}
        {columnCount > 2 && <ColumnBlock columnData={blockData.columnThree} />}
        {columnCount > 3 && <ColumnBlock columnData={blockData.columnFour} />}
        {columnCount > 4 && <ColumnBlock columnData={blockData.columnFive} />}
        {columnCount > 5 && <ColumnBlock columnData={blockData.columnSix} />}
    </div>
</div>
