---
import Layout from "~layouts/Layout.astro";
import { getPostList, getPostArchiveSeo } from "~data/post";
import PostList from "~components/PostList/PostList.astro";

export const prerender = false;

Astro.response.headers.set("CDN-Cache-Control", "public, max-age=3600, must-revalidate");

const { pageNum } = Astro.params;

let postOffset = pageNum ? (parseInt(pageNum) - 1) * parseInt(import.meta.env.PUBLIC_POST_SIZE) : 0;

const allPosts = await getPostList(postOffset, parseInt(import.meta.env.PUBLIC_POST_SIZE));
const PostArchiveSeo = await getPostArchiveSeo();
---

<Layout pageSlug="news" seoData={PostArchiveSeo.archivePageSettings.newsArchiveSettings}>
    <main class="main-content">
        <div class="container">
            <h1>{PostArchiveSeo.archivePageSettings.newsArchiveSettings.pageTitle}</h1>
            <PostList postsData={allPosts} page={parseInt(pageNum)} path="/news/" postSize={parseInt(import.meta.env.PUBLIC_POST_SIZE)} />
        </div>
    </main>
</Layout>
