---
import { HTMLRender } from "~helpers/htmlRender";
import { InView } from "react-intersection-observer";
import { v4 } from "uuid";
import TeamMemberBlock from "./TeamMemberBlock";
import HTag from "~helpers/hTag";

import "./style.scss";

const { blockData } = Astro.props;
---

<div class="meet-the-team-block">
    <div class="meet-the-team-block__container">
        <div class="meet-the-team-block__team-grid">
            <div class="meet-team-title">
                <HTag type={blockData.titleType} class={`title-one`}>
                    <HTMLRender data={blockData.title} />
                </HTag>
            </div>

            {
                blockData.teamMembers.map((teamMember) => {
                    return (
                        <div class="team-item">
                            {blockData.showPopups === "yes" ? (
                                <TeamMemberBlock client:load teamMember={teamMember} popUps={blockData.showPopups} />
                            ) : (
                                <TeamMemberBlock teamMember={teamMember} popUps={blockData.showPopups} />
                            )}
                        </div>
                    );
                })
            }
        </div>
    </div>
</div>
