---
import { WpImage } from "~helpers/WpImage";
import { HTMLRender } from "~helpers/htmlRender";
import LinkButton from "~components/LinkButton";

const { blockData } = Astro.props;
---

<div class={`image-hero`}>
	<WpImage file={blockData.image.node} />
	{
		blockData.overlay || blockData.button ? (
			<div class={`hero-overlay`}>
				{blockData.overlay && <HTMLRender data={blockData.overlay} />}
				{blockData.button && (
					<LinkButton type="primary" url={blockData.button.url} target={blockData.button.target}>
						{blockData.button.title}
					</LinkButton>
				)}
			</div>
		) : null
	}
</div>
