---
import "~styles/global.scss";
import Seo from "~components/Seo/Seo.astro";
import CookieNotice from "~components/CookieNotice";
import GoogleAnalytics from "~components/GoogleAnalytics";
import GoogleTagManager from "~components/GoogleTagManager";

const { seoData } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        {import.meta.env.PUBLIC_ANALYTICS_ID && <GoogleAnalytics measurementId={import.meta.env.PUBLIC_ANALYTICS_ID} />}
        {import.meta.env.PUBLIC_GOOGLE_TAG_ID && <GoogleTagManager measurementId={import.meta.env.PUBLIC_GOOGLE_TAG_ID} />}
        <Seo seoData={seoData} />
    </head>
    <body>
        <slot />
        <CookieNotice client:load />
        {
            import.meta.env.PUBLIC_GOOGLE_TAG_ID && (
                <noscript
                    set:html={`<iframe src="https://www.googletagmanager.com/ns.html?id=${import.meta.env.PUBLIC_GOOGLE_TAG_ID}" height="0" width="0" style="display: none; visibility: hidden;"></iframe>`}
                />
            )
        }
    </body>
</html>
