---
import "~styles/global.scss";
import Seo from "~components/Seo/Seo.astro";
import CookieNotice from "~components/CookieNotice";
import GoogleAnalytics from "~components/GoogleAnalytics";
import GoogleTagManager from "~components/GoogleTagManager";
import Header from "~slices/Header/header.astro";
import Footer from "~slices/Footer/Footer.astro";
import OffCanvas from "~slices/OffCanvas";

const { seoData, pageSlug } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        {import.meta.env.PUBLIC_ANALYTICS_ID && <GoogleAnalytics measurementId={import.meta.env.PUBLIC_ANALYTICS_ID} />}
        {import.meta.env.PUBLIC_GOOGLE_TAG_ID && <GoogleTagManager measurementId={import.meta.env.PUBLIC_GOOGLE_TAG_ID} />}
        <Seo seoData={seoData} slug={pageSlug} />
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
        <OffCanvas client:media="(max-width: 1024px)" />
        <CookieNotice client:load />
        {
            import.meta.env.PUBLIC_GOOGLE_TAG_ID && (
                <noscript
                    set:html={`<iframe src="https://www.googletagmanager.com/ns.html?id=${import.meta.env.PUBLIC_GOOGLE_TAG_ID}" height="0" width="0" style="display: none; visibility: hidden;"></iframe>`}
                />
            )
        }
        <script>
            import { isNavOpen } from "~slices/OffCanvas/offCanvasStore";

            isNavOpen.subscribe((open) => {
                if (open) {
                    document.body.classList.add("off-canvas-open");
                } else {
                    document.body.classList.remove("off-canvas-open");
                }
            });
        </script>
    </body>
</html>
